@import './../scss/mixins.scss';

.highlight-card {
  @include make-card;

  padding: 22px;
}

.highlight-stat {
  margin-top: 0.2em; // compensate for smaller line-height
  margin-bottom: 32px;
  font-size: 64px;
  font-weight: 700;
  line-height: 0.8em;
}

.highlight-stat-suffix {
  font-size: 36px;
  font-weight: 500;
}

.highlight-stat-wind-direction {
  margin-right: 0.5rem;
  padding: 8px;
  border-radius: 30px;
  display: inline-block;
  line-height: 0;
  background: rgba(255, 255, 255, 0.3);

  img {
    height: 12px;
    width: 12px;
  }
}
