.app {
  display: grid;

  @media (min-width: 992px) {
    grid-template-columns: 1fr 2fr;
  }
}

.sidebar {
  background-color: var(--bg-color-light);

  @media (min-width: 992px) {
    min-height: 100vh;
  }
}

.content-area {
  padding: 0 24px;

  @media (min-width: 992px) {
    padding: 0 124px;
  }
}
